.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
[Log]/
[Ll]og/
AppPackages/
BundleArtifacts/
PackageArtifacts/
_pkg/
*.nuget.props
*.nuget.targets
packages/
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store